@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: monospace;
  font-size: larger;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

.delete-button {
  transition: opacity 0.3s ease;
}

.item-container.swiped .item-content {
  transform: translateX(-80px);
}

.item-container.swiped .delete-button {
  opacity: 1;
}
